@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap'); 
  body {  
    font-family:var(--bs-font-sans-serif);
    font-size:20px;
    line-height:1.7;
    color:#60697b;
    word-spacing:0.05rem;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --bs-gutter-x:  1.5rem;  
    --bs-gutter-y:  0;  
} 

* { 
    box-sizing: border-box;
} 

body { 
    margin: 0; 
    font-family: var(--bs-font-sans-serif); 
    font-size: 0.8rem; 
    line-height: 1.7; 
    color: #60697b; 
    background-color: #fefefe; 
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    word-spacing: 0.05rem; 
    overflow-x: hidden !important;
} 

body { 
    height: 100%;
} 

body { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

html { 
    height: 100%;
} 

:root { 
    --bs-font-sans-serif: "Manrope", sans-serif; 
} 

:root { 
    font-size: 20px;
} 

.row { 
    --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0; 
    display: flex; 
    flex-wrap: wrap; 
    margin-top: calc(var(--bs-gutter-y) * -1); 
    margin-right: calc(var(--bs-gutter-x) / -2); 
    margin-left: calc(var(--bs-gutter-x) / -2);
} 

*,:before,:after { 
    box-sizing: border-box;
} 

:selection { 
    background: rgba(63, 120, 224, 0.7); 
    color: #fff;
} 

.row > *  { 
    flex-shrink: 0; 
    width: 100%; 
    max-width: 100%; 
    padding-right: calc(var(--bs-gutter-x) / 2); 
    padding-left: calc(var(--bs-gutter-x) / 2); 
    margin-top: var(--bs-gutter-y);
} 

@media (min-width: 576px){ 
  .col-sm-6 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
}     

@media (min-width: 768px){ 
  .col-md-3 { 
    flex: 0 0 auto; 
    width: 25%;
  } 
}     

.mb-4 { 
    margin-bottom: 1rem !important;
} 

.col-sm-6 { 
    max-width: 50%;
} 

.card { 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: 1px solid rgba(164, 174, 198, 0.2); 
    border-radius: 0.4rem;
} 

.card { 
    box-shadow: 0 0 0 0.05rem rgba(8, 60, 130, 0.06), 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04); 
    border: 0;
} 

.text-center { 
    text-align: center !important;
} 

.card-body-price-list { 
    padding: 0px !important;
} 

.post-content { 
    position: relative;
} 

img { 
    vertical-align: middle;
} 

.img-fluid { 
    max-width: 100%; 
    height: auto;
} 

h3 { 
    margin-top: 0; 
    margin-bottom: 0.5rem; 
    font-weight: 700; 
    line-height: 1.2; 
    color: #343f52;
} 

h3 { 
    font-size: 1.1rem;
} 

h3 { 
    margin-top: 0; 
    margin-bottom: 0.5rem; 
    font-weight: 700; 
    color: #343f52; 
    word-spacing: 0.1rem; 
    letter-spacing: -0.01rem;
} 

h3 { 
    line-height: 1.4;
} 

.pt-2 { 
    padding-top: 0.5rem !important;
} 

.post-title { 
    font-family: "DM Serif Display"; 
    font-weight: normal !important; 
    word-spacing: normal !important; 
    letter-spacing: normal !important;
} 

h3.post-title { 
    font-size: 1.2rem;
} 

p { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

.text-primary { 
    color: #02559f !important;
} 

.card-body-price-list p  { 
    font-weight: bold;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-HeQsG.style-HeQsG {  
   border: 1px solid #d4d4d4;  
}  
#style-oDo3O.style-oDo3O {  
   padding: 0px !important;  
}  
#style-zjQAZ.style-zjQAZ {  
   border-radius: 0.4rem 0.4rem 0rem;  
    display: none;  
}  
#style-qQ2JV.style-qQ2JV {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-jBiio.style-jBiio {  
       margin-bottom: 10px;  
}  
#style-TfXoz.style-TfXoz {  
   border: 1px solid #d4d4d4;  
}  
#style-Uz2Uk.style-Uz2Uk {  
   padding: 0px !important;  
}  
#style-2emMs.style-2emMs {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-2KBH8.style-2KBH8 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-Jwgow.style-Jwgow {  
       margin-bottom: 10px;  
}  
#style-ngOJw.style-ngOJw {  
   border: 1px solid #d4d4d4;  
}  
#style-xkcCl.style-xkcCl {  
   padding: 0px !important;  
}  
#style-8KtG5.style-8KtG5 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-6IWeQ.style-6IWeQ {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-yI8BB.style-yI8BB {  
       margin-bottom: 10px;  
}  
#style-47iRG.style-47iRG {  
   border: 1px solid #d4d4d4;  
}  
#style-TZnak.style-TZnak {  
   padding: 0px !important;  
}  
#style-LFI9C.style-LFI9C {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-doH7m.style-doH7m {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-vIoI9.style-vIoI9 {  
       margin-bottom: 10px;  
}  
#style-RqdTo.style-RqdTo {  
   border: 1px solid #d4d4d4;  
}  
#style-hZtoP.style-hZtoP {  
   padding: 0px !important;  
}  
#style-OR6ll.style-OR6ll {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-fkVaT.style-fkVaT {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-75Ql7.style-75Ql7 {  
       margin-bottom: 10px;  
}  
#style-o7hSH.style-o7hSH {  
   border: 1px solid #d4d4d4;  
}  
#style-pRWCU.style-pRWCU {  
   padding: 0px !important;  
}  
#style-GpaVQ.style-GpaVQ {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-q85fo.style-q85fo {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-bXPep.style-bXPep {  
       margin-bottom: 10px;  
}  
#style-O1LRV.style-O1LRV {  
   border: 1px solid #d4d4d4;  
}  
#style-gMk3S.style-gMk3S {  
   padding: 0px !important;  
}  
#style-mRvLT.style-mRvLT {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-p7oj8.style-p7oj8 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-QTVQH.style-QTVQH {  
       margin-bottom: 10px;  
}  
#style-jxAwy.style-jxAwy {  
   border: 1px solid #d4d4d4;  
}  
#style-nya2f.style-nya2f {  
   padding: 0px !important;  
}  
#style-NIknp.style-NIknp {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-gLQi4.style-gLQi4 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-2Q8pP.style-2Q8pP {  
       margin-bottom: 10px;  
}  
#style-ahiJp.style-ahiJp {  
   border: 1px solid #d4d4d4;  
}  
#style-wsfZx.style-wsfZx {  
   padding: 0px !important;  
}  
#style-St5Q9.style-St5Q9 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-7xFdv.style-7xFdv {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-eqeBh.style-eqeBh {  
       margin-bottom: 10px;  
}  
#style-BdO5o.style-BdO5o {  
   border: 1px solid #d4d4d4;  
}  
#style-ZYZRa.style-ZYZRa {  
   padding: 0px !important;  
}  
#style-ZTs5H.style-ZTs5H {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-oO52Q.style-oO52Q {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-jlMNO.style-jlMNO {  
       margin-bottom: 10px;  
}  
#style-3LsPE.style-3LsPE {  
   border: 1px solid #d4d4d4;  
}  
#style-BSJLj.style-BSJLj {  
   padding: 0px !important;  
}  
#style-NKBw1.style-NKBw1 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-MI1JD.style-MI1JD {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-GpdnF.style-GpdnF {  
       margin-bottom: 10px;  
}  
#style-RZGjj.style-RZGjj {  
   border: 1px solid #d4d4d4;  
}  
#style-FxhBo.style-FxhBo {  
   padding: 0px !important;  
}  
#style-PKvND.style-PKvND {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-kmiPN.style-kmiPN {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-ifYm6.style-ifYm6 {  
       margin-bottom: 10px;  
}  
#style-cFGLf.style-cFGLf {  
   border: 1px solid #d4d4d4;  
}  
#style-5eaFX.style-5eaFX {  
   padding: 0px !important;  
}  
#style-PwnLl.style-PwnLl {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-lFzxA.style-lFzxA {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-Czzbo.style-Czzbo {  
       margin-bottom: 10px;  
}  
#style-K3eoT.style-K3eoT {  
   border: 1px solid #d4d4d4;  
}  
#style-w2x4k.style-w2x4k {  
   padding: 0px !important;  
}  
#style-p3YxF.style-p3YxF {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-OwGbB.style-OwGbB {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-cMMik.style-cMMik {  
       margin-bottom: 10px;  
}  
#style-mtAdy.style-mtAdy {  
   border: 1px solid #d4d4d4;  
}  
#style-lWHxd.style-lWHxd {  
   padding: 0px !important;  
}  
#style-Vjqo1.style-Vjqo1 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-vCEty.style-vCEty {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-zoDNe.style-zoDNe {  
       margin-bottom: 10px;  
}  
#style-iWQTC.style-iWQTC {  
   border: 1px solid #d4d4d4;  
}  
#style-LsTQz.style-LsTQz {  
   padding: 0px !important;  
}  
#style-8oZtC.style-8oZtC {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-tc3Vc.style-tc3Vc {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-vDi2q.style-vDi2q {  
       margin-bottom: 10px;  
}  
#style-yGBMx.style-yGBMx {  
   border: 1px solid #d4d4d4;  
}  
#style-3m6RQ.style-3m6RQ {  
   padding: 0px !important;  
}  
#style-acvGC.style-acvGC {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-FxOBj.style-FxOBj {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-oSXLd.style-oSXLd {  
       margin-bottom: 10px;  
}  
#style-eF3dH.style-eF3dH {  
   border: 1px solid #d4d4d4;  
}  
#style-UV31t.style-UV31t {  
   padding: 0px !important;  
}  
#style-Z2ani.style-Z2ani {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-IgdOL.style-IgdOL {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-nvpV7.style-nvpV7 {  
       margin-bottom: 10px;  
}  
#style-53PQl.style-53PQl {  
   border: 1px solid #d4d4d4;  
}  
#style-RTMAf.style-RTMAf {  
   padding: 0px !important;  
}  
#style-QRZJy.style-QRZJy {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-gWCpE.style-gWCpE {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-A4tel.style-A4tel {  
       margin-bottom: 10px;  
}  
#style-ZBopl.style-ZBopl {  
   border: 1px solid #d4d4d4;  
}  
#style-xtkYQ.style-xtkYQ {  
   padding: 0px !important;  
}  
#style-cH3RO.style-cH3RO {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-UAtQj.style-UAtQj {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-XNG8M.style-XNG8M {  
       margin-bottom: 10px;  
}  
#style-3dCef.style-3dCef {  
   border: 1px solid #d4d4d4;  
}  
#style-mkKkG.style-mkKkG {  
   padding: 0px !important;  
}  
#style-gLKYM.style-gLKYM {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-Yvhj9.style-Yvhj9 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-r1WGU.style-r1WGU {  
       margin-bottom: 10px;  
}  
#style-EMZy6.style-EMZy6 {  
   border: 1px solid #d4d4d4;  
}  
#style-FjoCW.style-FjoCW {  
   padding: 0px !important;  
}  
#style-U1UFS.style-U1UFS {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-cloXs.style-cloXs {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-5MXmn.style-5MXmn {  
       margin-bottom: 10px;  
}  
#style-7wmNG.style-7wmNG {  
   border: 1px solid #d4d4d4;  
}  
#style-75fLd.style-75fLd {  
   padding: 0px !important;  
}  
#style-JnmEp.style-JnmEp {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-OqJe5.style-OqJe5 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-TDiLv.style-TDiLv {  
       margin-bottom: 10px;  
}  
#style-nHfWl.style-nHfWl {  
   border: 1px solid #d4d4d4;  
}  
#style-3sE1O.style-3sE1O {  
   padding: 0px !important;  
}  
#style-N8eq9.style-N8eq9 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-FYaeW.style-FYaeW {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-jFtWJ.style-jFtWJ {  
       margin-bottom: 10px;  
}  
#style-BLCMA.style-BLCMA {  
   border: 1px solid #d4d4d4;  
}  
#style-wMi4q.style-wMi4q {  
   padding: 0px !important;  
}  
#style-dDbg7.style-dDbg7 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-tYNmk.style-tYNmk {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-okcrC.style-okcrC {  
       margin-bottom: 10px;  
}  
#style-ek8Hn.style-ek8Hn {  
   border: 1px solid #d4d4d4;  
}  
#style-aHX2r.style-aHX2r {  
   padding: 0px !important;  
}  
#style-KFocd.style-KFocd {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-ZE3o9.style-ZE3o9 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-wvX6P.style-wvX6P {  
       margin-bottom: 10px;  
}  
#style-lZtUL.style-lZtUL {  
   border: 1px solid #d4d4d4;  
}  
#style-QKfGE.style-QKfGE {  
   padding: 0px !important;  
}  
#style-gU4i7.style-gU4i7 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-CQczj.style-CQczj {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-CQLHv.style-CQLHv {  
       margin-bottom: 10px;  
}  
#style-n18i8.style-n18i8 {  
   border: 1px solid #d4d4d4;  
}  
#style-T19Qb.style-T19Qb {  
   padding: 0px !important;  
}  
#style-1AnPn.style-1AnPn {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-L6OQ8.style-L6OQ8 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-F5Hby.style-F5Hby {  
       margin-bottom: 10px;  
}  
#style-x9E1B.style-x9E1B {  
   border: 1px solid #d4d4d4;  
}  
#style-a1sLi.style-a1sLi {  
   padding: 0px !important;  
}  
#style-vAa4F.style-vAa4F {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-2TSFM.style-2TSFM {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-Y7p3v.style-Y7p3v {  
       margin-bottom: 10px;  
}  
#style-LYjlN.style-LYjlN {  
   border: 1px solid #d4d4d4;  
}  
#style-1oN5M.style-1oN5M {  
   padding: 0px !important;  
}  
#style-pXCWG.style-pXCWG {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-BGVWH.style-BGVWH {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-ZXVia.style-ZXVia {  
       margin-bottom: 10px;  
}  
#style-eJeFR.style-eJeFR {  
   border: 1px solid #d4d4d4;  
}  
#style-nIvci.style-nIvci {  
   padding: 0px !important;  
}  
#style-FsvMc.style-FsvMc {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-cdRYd.style-cdRYd {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-UYLZ1.style-UYLZ1 {  
       margin-bottom: 10px;  
}  
#style-lEr7A.style-lEr7A {  
   border: 1px solid #d4d4d4;  
}  
#style-tSDWa.style-tSDWa {  
   padding: 0px !important;  
}  
#style-ntJE5.style-ntJE5 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-p1LGY.style-p1LGY {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-V6RQl.style-V6RQl {  
       margin-bottom: 10px;  
}  
#style-Oc8TG.style-Oc8TG {  
   border: 1px solid #d4d4d4;  
}  
#style-9Imw6.style-9Imw6 {  
   padding: 0px !important;  
}  
#style-5awjy.style-5awjy {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-cOhP4.style-cOhP4 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-I9TRJ.style-I9TRJ {  
       margin-bottom: 10px;  
}  
#style-ZcFwa.style-ZcFwa {  
   border: 1px solid #d4d4d4;  
}  
#style-zydPX.style-zydPX {  
   padding: 0px !important;  
}  
#style-DAc3N.style-DAc3N {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-voSk3.style-voSk3 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-1Otgf.style-1Otgf {  
       margin-bottom: 10px;  
}  
#style-dU8SL.style-dU8SL {  
   border: 1px solid #d4d4d4;  
}  
#style-FQUU9.style-FQUU9 {  
   padding: 0px !important;  
}  
#style-dCZon.style-dCZon {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-g1dJi.style-g1dJi {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-bSJO2.style-bSJO2 {  
       margin-bottom: 10px;  
}  
#style-wmUF9.style-wmUF9 {  
   border: 1px solid #d4d4d4;  
}  
#style-EmZRF.style-EmZRF {  
   padding: 0px !important;  
}  
#style-MB1fY.style-MB1fY {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-S5zbl.style-S5zbl {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-IvGbj.style-IvGbj {  
       margin-bottom: 10px;  
}  
#style-7BRnF.style-7BRnF {  
   border: 1px solid #d4d4d4;  
}  
#style-xPvid.style-xPvid {  
   padding: 0px !important;  
}  
#style-VDBqT.style-VDBqT {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-aBhA7.style-aBhA7 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-zgImR.style-zgImR {  
       margin-bottom: 10px;  
}  
#style-O71rT.style-O71rT {  
   border: 1px solid #d4d4d4;  
}  
#style-zqbmo.style-zqbmo {  
   padding: 0px !important;  
}  
#style-Ksaob.style-Ksaob {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-ytPGc.style-ytPGc {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-byEL8.style-byEL8 {  
       margin-bottom: 10px;  
}  
#style-nUqX8.style-nUqX8 {  
   border: 1px solid #d4d4d4;  
}  
#style-BqDV4.style-BqDV4 {  
   padding: 0px !important;  
}  
#style-mYk3k.style-mYk3k {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-WNDe9.style-WNDe9 {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-szs3X.style-szs3X {  
       margin-bottom: 10px;  
}  
#style-qkmBD.style-qkmBD {  
   border: 1px solid #d4d4d4;  
}  
#style-nJX3E.style-nJX3E {  
   padding: 0px !important;  
}  
#style-soLxr.style-soLxr {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-46vDn.style-46vDn {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-A8nL9.style-A8nL9 {  
       margin-bottom: 10px;  
}  
#style-goKbW.style-goKbW {  
   border: 1px solid #d4d4d4;  
}  
#style-KnTWB.style-KnTWB {  
   padding: 0px !important;  
}  
#style-Ji1s2.style-Ji1s2 {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-rXqIZ.style-rXqIZ {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-vMOHb.style-vMOHb {  
       margin-bottom: 10px;  
}  
#style-KdCh5.style-KdCh5 {  
   border: 1px solid #d4d4d4;  
}  
#style-YNHFn.style-YNHFn {  
   padding: 0px !important;  
}  
#style-PrloZ.style-PrloZ {  
   border-radius: 0.4rem 0.4rem 0rem;  
}  
#style-3yfrU.style-3yfrU {  
   color: #02559f;  
        line-height: 15px;  
}  
#style-74EUj.style-74EUj {  
       margin-bottom: 10px;  
}  
