{% load static %}
<!-- Topbar Start -->
<div class="container-fluid px-5 d-none d-lg-block">
    <div class="row gx-5 py-3 align-items-center">
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center">
                <img src="{% static 'img/recycle-symbol.png' %}" style="width: 50px; height: 50px; margin-right: 10px;">
                <a href="{% url 'index' %}" class="navbar-brand ms-lg-3">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Recycle</span>Radar</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="d-flex align-items-center justify-content-end">
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary btn-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-primary btn-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div> 
    </div>
</div>
